stages:
  - version
  - build

variables:
  GITLAB_DOMAIN: gitlab.com
  RAMPIKE_DOMAIN: rampike.de
  APP_NAME: rpk-api
  VERSION: 0.0.0

version:
  image: python:3.7-stretch
  stage: version
  only:
    - master
  before_script:
    - mkdir -p ~/.ssh && chmod 700 ~/.ssh
    - echo "${SSH_PRIVATE_KEY}" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - which ssh-agent || ( apk --update add openssh-client )
    - eval $(ssh-agent -s)
    - ssh-add ~/.ssh/id_rsa
    - ssh-keyscan -H ${GITLAB_DOMAIN} >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - pip install semver
    - python3 ./.deploy/gen-semver.py > version
  artifacts:
    expire_in: 1 day
    paths:
      - version

build:
  image: docker
  stage: build
  services:
    - docker:dind
  only:
    - main
    - branches
  before_script:
    - apk add --no-cache gettext
    - mkdir -p ~/.ssh && chmod 700 ~/.ssh
    - echo "${SSH_PRIVATE_KEY}" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - which ssh-agent || ( apk --update add openssh-client )
    - eval $(ssh-agent -s)
    - ssh-add ~/.ssh/id_rsa
    - ssh-keyscan -p 8787 -H ${RAMPIKE_DOMAIN} >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    #- export VERSION=$(cat ./version)
    - mkdir -p ./release
    - envsubst < ./.deploy/example.env > ./release/.env
    - mv ./.deploy/build-api.sh ./release
    - chmod -x ./release/build-api.sh
  script:
    - scp -P 8787 -r ./release ${SERVER_USER}@${RAMPIKE_DOMAIN}:/home/${SERVER_USER}
    - ssh -p 8787 ${SERVER_USER}@${RAMPIKE_DOMAIN} "~/release/build-api.sh && exit"

