stages:
  - version
  - build

variables:
  APP_NAME: rpk-api
  GITLAB_DOMAIN: gitlab.com
  RAMPIKE_DOMAIN: rampike.de
  GITHUB_NAMESPACE: kevin-doering
  PROJECT_REPOSITORY: "git@gitlab.com:${CI_PROJECT_NAMESPACE}/${CI_PROJECT_NAME}.git"
  MANIFEST_REPOSITORY: "git@github.com:${GITHUB_NAMESPACE}/${APP_NAME}.git"

version:
  image: python:3.7-stretch
  stage: version
  only:
    - main
  before_script:
    - mkdir -p ~/.ssh && chmod 700 ~/.ssh
    - echo "${SSH_PRIVATE_KEY}" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - which ssh-agent || ( apk --update add openssh-client )
    - eval $(ssh-agent -s)
    - ssh-add ~/.ssh/id_rsa
    - ssh-keyscan -H ${GITLAB_DOMAIN} >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
  script:
    - pip install semver
    - python3 ./.release/gen-semver.py > version
  artifacts:
    expire_in: 1 day
    paths:
      - version

build:
  image: docker
  stage: build
  services:
    - docker:dind
  only:
    - main
    - branches
  before_script:
    - apk add --no-cache gettext
    - mkdir -p ~/.ssh && chmod 700 ~/.ssh
    - echo "${SSH_PRIVATE_KEY}" | tr -d '\r' > ~/.ssh/id_rsa
    - chmod 600 ~/.ssh/id_rsa
    - which ssh-agent || ( apk --update add openssh-client )
    - eval $(ssh-agent -s)
    - ssh-add ~/.ssh/id_rsa
    - ssh-keyscan -p 8787 -H ${RAMPIKE_DOMAIN} >> ~/.ssh/known_hosts
    - chmod 644 ~/.ssh/known_hosts
    - export VERSION=$(cat ./version)
    - mkdir -p ./release
    - envsubst < ./.release/example.env > ./.release/.env
    - mv ./.release/build-api.sh ./.release
    - chmod +x ./release/build-api.sh
    - mv ./.release/deploy-api.sh ./.release
    - chmod +x ./release/deploy-api.sh
  script:
    - scp -P 8787 -r ./.release ${SERVER_USER}@${RAMPIKE_DOMAIN}:/home/${SERVER_USER}
    - ssh -p 8787 ${SERVER_USER}@${RAMPIKE_DOMAIN} "bash ~/.release/build-api.sh; bash ~/.release/deploy-api.sh; rm -r ~/.release"

